* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
}

.grid--col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 4.5rem;
  gap: 2rem;
  max-width: 135rem;
}

.logo {
  display: block;
  width: 20rem;
  margin-bottom: 5rem;
}

.illu-img {
  display: inline-block;
  width: 70rem;
  grid-column: 1 / 2;
}

/*  COMMUNITY SECTION */
.community-section {
  padding: 5rem 6rem 5rem 4rem;
}

.heading {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 3.5rem;
}
.commu-text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 5rem;
  background-color: #fff;
  border: none;
  border-radius: 80rem;
  color: hsla(257, 40%, 49%, 0.822);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.btn:active {
  background-color: hsl(300, 69%, 71%);
  color: #ddd;
}

.icon-container {
  grid-column: 2 / -1;

  display: flex;
  gap: 2rem;
  color: #fff;
  justify-content: right;
}

.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 50%;
}

@media (max-width: 68.75em) {
  .grid--col-2 {
    max-width: 100rem;
  }

  .illu-img {
    width: 50rem;
  }
  .community-section {
    padding-right: 0;
  }
  .heading {
    font-size: 3rem;
  }
}

@media (max-width: 58.125em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 51.5em) {
  body {
    display: block;
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .grid--col-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .logo {
    margin-bottom: 0;
    justify-self: center;
    position: relative;
    right: 15rem;
  }
  .illu-img {
    justify-self: center;
  }
  .community-section {
    text-align: center;
    padding: 0;
  }

  .heading {
    margin-top: 3.5rem;
  }
  .icon-container {
    grid-column: 1 / 2;
    justify-content: center;
  }
  .commu-text {
    margin-bottom: 3rem;
  }
}

@media (max-width: 32.8125em) {
  html {
    font-size: 50%;
  }

  body {
    justify-content: center;
    align-items: center;
  }

  .grid--col-2 {
    max-width: 65rem;
    margin: 0;
    padding: 3rem 2rem;
  }
  .logo {
    width: 15rem;
    right: 10rem;
    margin-bottom: 5rem;
  }

  .illu-img {
    width: 35rem;
  }

  .container {
    padding: 0 5rem;
  }
  .heading {
    font-size: 2.4rem;
  }
  .community-section {
    padding: 0;
    padding-top: 0rem;
  }
  .commu-text {
    font-size: 1.6rem;
  }
  .btn {
    margin-bottom: 3rem;
  }

  .attribution {
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
  }
  .footer-name,
  .link {
    text-decoration: none;
    color: #fff;
  }
}
